.TextBox_main {
z-index: 3;
position: absolute;
right: 10px;
min-height: 400px;
max-height: 20px;
border-radius: 0px 0px 0px 0px;
bottom: 80px;
left: 60px;
font-weight: bold;
padding: 80px 50px 70px 200px;
box-sizing: border-box;
display: flex;
flex-flow: column;
align-items: flex-start;
letter-spacing: 0.2em;
transition: left 0.33s;
max-width: 2500px;
}

.TextBox_Background {
z-index: 2;
background: url("game/template/assets/对话框/对话框.png");
}

.TextBox_textElement_start {
position: relative;
animation: TextDelayShow 1000ms ease-out forwards;
opacity: 0;
}

.outer {
position: absolute;
white-space: nowrap;
left: 0;
top: 0;
background-image: linear-gradient(#0B346E 0%, #141423 100%);
background-clip: text;
-webkit-background-clip: text;
color: transparent;
z-index: 2;
}

.inner {
white-space: nowrap;
position: absolute;
left: 0;
top: 0;
-webkit-text-stroke: 0em rgb(129, 129, 129);
z-index: 1;
}

.zhanwei {
color: transparent;
white-space: nowrap;
}

.TextBox_textElement_Settled {
position: relative;
opacity: 1;
}

.TextBox_showName {
font-size: 85%;
position: absolute;
left: 40px;
top: -20%;
line-height: 68px;
z-index: 3;
height: 80px;
border: 0px solid rgba(255, 255, 255, 0);
border-radius: 0px 0px 0px 0px;
max-width: 430px;
min-width: 17%;
padding: 10px 10px 10px 10px;

}

.TextBox_ShowName_Background {
z-index: 3;
background: url("game/template/assets/对话框/名字框.png");
}

.miniAvatarContainer {
position: absolute;
height: 450px;
width: 450px;
bottom: 0;
left: -250px;
border-radius: 0px 0px 0px 0px;
overflow: hidden;
}

.miniAvatarImg {
max-height: 100%;
max-width: 100%;
position: absolute;
bottom: 0;
filter: drop-shadow(15px 0 3px rgba(0, 0, 0, 0.5));
}

.nameContainer {
position: absolute;
left: 4em;
top: 3.;
}

.outerName {
position: absolute;
left: 40px;
top: -20%;
background-clip: text;
-webkit-background-clip: text;
color: transparent;
z-index: 2;
}

.innerName {
position: absolute;
left: 40px;
top: -20%;
z-index: 1;
}

.text {
line-height: 1.9em;
overflow: hidden;
top: 10px;
position: absolute;
left: 120px;
}

.TextBox_main_miniavatarOff {
left: 5px;
}

@keyframes showSoftly {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes TextDelayShow {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
